<footer class="bg-dark text-white py-4 w-100">
  <div class="container-fluid">
    <hr class="footer-divider border-secondary">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <p class="mb-0 text-center">&copy; 2024, Creado por Juan Martin Pilon - Carlos Santana<br/>Nicolas Silva - Andres Perdomo, Grupo 01-Inc</p>
      </div>
      <div class="d-flex align-items-center">
        <img src="assets/footer-sin-fondo.png" alt="Footer Image" class="footer-image">
      </div>
      <div class="d-flex">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="#" class="nav-link" [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="nav-link" [routerLink]="['/pokedex']" routerLinkActive="active">Pokedex</a>
          </li>
          <li class="list-inline-item">
            <a *ngIf="Sesion.isAuthenticated()" href="#" class="nav-link" [routerLink]="['/team']" routerLinkActive="active">Team</a>
          </li>
          <li class="list-inline-item">
            <a *ngIf="Sesion.isAuthenticated()" href="#" class="nav-link" [routerLink]="['/perfil']" routerLinkActive="active">Perfil</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>










