<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil de Usuario</title>
</head>

<body>
  <div class="profile-container">
   <img [src]="'../../assets/' + currentUser.pfp" class="profile-image" alt="Nombre de usuario">
    <h2 class="profile-name">{{ currentUser.username}}</h2>
    <div class="profile-details">
      <p>Nombre:  {{currentUser.nombre}}</p>
      <p>Apellido: {{currentUser.apellido}}</p>
      <p>Email: {{currentUser.email}}</p>
      <p>Fecha de Nacimiento: {{currentUser.fdn}}</p>
      <p>Pokémon Favorito: {{currentUser.favPok}}</p>
    </div>
  </div>
</body>
</html>
