<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil de Usuario</title>
</head>

<body>
  <div class="profile-container">
    <img src="../../assets/perfil1.jpg" class="profile-image" alt="Nombre de usuario"><!-- reemplazar con los datos del usuario -->
    <h2 class="profile-name">Entrenador Placeholder</h2><!-- reemplazar con los datos del usuario -->
    <div class="profile-details">
      <p>Nombre: Pepito</p><!-- reemplazar con los datos del usuario -->
      <p>Apellido: Placeholder</p><!-- reemplazar con los datos del usuario -->
      <p>Email: Placeholder</p><!-- reemplazar con los datos del usuario -->
      <p>Fecha de Nacimiento: 31/10/00</p><!-- reemplazar con los datos del usuario -->
      <p>Pokémon Favorito: Placeholdermon</p><!-- reemplazar con los datos del usuario -->
    </div>
  </div>
</body>
</html>
