<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil de Usuario</title>
</head>

<body>
  <div class="profile-container">
    <img [src]="'../../assets/' + (currentUser.pfp || 'default.jpg')" class="profile-image" alt="Nombre de usuario" (click)="toggleImageSelector()">
    <h2 class="profile-name">{{ currentUser.username || 'Nombre de usuario' }}</h2>
    <div class="profile-details">
      <p>Nombre: {{ currentUser.nombre || 'Nombre' }}</p>
      <p>Apellido: {{ currentUser.apellido || 'Apellido' }}</p>
      <p>Email: {{ currentUser.email || 'email@ejemplo.com' }}</p>
      <p>Fecha de Nacimiento: {{ currentUser.fdn || 'YYYY-MM-DD' }}</p>
      <p>Pokémon Favorito: {{ currentUser.favPok || 'Pokémon' }}</p>
    </div>
  </div>

  <!-- Div para seleccionar la imagen de perfil -->
  <div class="image-selector" *ngIf="imageSelectorVisible">
    <div *ngFor="let image of availableImages" (click)="selectImage(image)">
      <img [src]="'../../assets/' + image" alt="Profile Image" class="selectable-image">
    </div>
    <button (click)="toggleImageSelector()">Cerrar</button>
  </div>


</body>
</html>
