<p> </p>
  <input
    type="text"
    [(ngModel)]="searchQuery"
    (input)="filterPokemons()"
    placeholder="Buscar Pokémon por nombre"
    class="form-control mb-4"
  />
  <div class="container mt-4">
  <div class="row">
    <div *ngFor="let pokemon of filteredPokemons" class="col-md-3 mb-4">
      <div class="card">
        <img [src]="pokemon.imageUrl" class="card-img-top" alt="{{ pokemon.name }}">
        <div class="card-body text-center">
          <h5 class="card-title text-capitalize">{{ pokemon.name }}</h5>
          <button class="btn btn-primary focus-ring d-inline-flex focus-ring focus-ring-info py-1 px-2 text-decoration-none border rounded-2" (click)="getPokemonDetails(pokemon.name)">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Component -->
<app-modalDComponent></app-modalDComponent>
