<div class="glob">
  <div class="container">
      <div class="team">
          <div class="team-members-container">
              <div class="header">MI EQUIPO:</div>
              <div class="team-members">
                  <div>pokemon</div>
                  <div>pokemon</div>
                  <div>pokemon</div>
                  <div>pokemon</div>
                  <div>pokemon</div>
              </div>
          </div>
          <div class="details">
              <div class="search-bar">
                  <input type="text" placeholder="Buscar">
              </div>
              <div class="details-container">
                  <img src="dog.jpg" alt="dog">
                  <div class="buttons">
                      <button class="add-btn">Agregar</button>
                      <button class="remove-btn">Quitar</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
