<div class="glob">
  <div class="container">
    <div class="team">
      <div class="team-members-container">
        <div class="header">MI EQUIPO:</div>
        <div class="team-members">
          <div *ngFor="let pokemon of team" (click)="selectPokemon(pokemon, true)">
            <img [src]="pokemon.imageUrl" alt="{{ pokemon.name }}" class="team-member-img">
            <div>{{ pokemon.name }}</div>
          </div>
        </div>
      </div>
      <div class="details">
        <input
          type="text"
          [(ngModel)]="searchQuery"
          (input)="filterPokemons()"
          placeholder="Buscar Pokémon por nombre"
          class="form-control mb-4"
        />
        <div class="details-container mt-4">
          <div class="row">
            <div *ngFor="let pokemon of filteredPokemons" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
              <div class="card h-100" (click)="selectPokemon(pokemon, false)">
                <img [src]="pokemon.imageUrl" class="card-img-top" alt="{{ pokemon.name }}">
                <div class="card-body text-center">
                  <h5 class="card-title text-capitalize">{{ pokemon.name }}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
